<!-- <h1>Hello World!</h1>
<h2>Teste!!!!!!!</h2>
<p>{{ title }}</p>
<p>Alguma coisa</p>

<router-outlet></router-outlet>
<div>
  <a href="#">Clique aqui!</a>
</div>

<app-first-component></app-first-component>

<app-parent-data [name]="userName" [userData]="userData"></app-parent-data>

<app-directives></app-directives>

<app-if-render></app-if-render>

<app-events></app-events>

<app-emitter></app-emitter>

<app-list-render></app-list-render>

<app-pipes></app-pipes>

<app-two-way-binding></app-two-way-binding>

<app-http-req-api></app-http-req-api> -->

<!--   ESTUDO DO ROTEAMENTO
  
  
  Para funcionar bem teria que limpar os componentes acima, pq aí o roteamento seria:
 rota http://localhost:4200/ para o componente first-component
 rota http://localhost:4200/list para o componente list-render 

 COMENTAR AS LINHAS DE CIMA E DESCOMENTAR ABAIXO:
-->

<p>header</p>
<nav>
  <a routerLink="/">Home </a>
  <a routerLink="/list">Lista</a>
</nav>
<h1>Hello World Angular!</h1>
<router-outlet></router-outlet>
<p>footer</p>
