<!-- INTERPOLACAO DE DADOS - Os valores dos dados vem do first-component.component.ts -->
<div class="class">
    <h1>first-component -> Estudando interpolacao de dados</h1>
    <h2 class="title">Meu primeiro componente!!</h2>
    <p>Nome: {{name}}</p>
    <p>Idade: {{age}}</p>
    
    <!-- Array -->
    <p>Hobbie que mais gosta: {{hobbies[2]}}</p>
    
    <!-- Objeto -->
    <p>Nome do carro: {{car.name}}</p>
    <p>Ano do carro: {{car.year}}</p>
    
    <!-- Pega o estilo do css do arquivo style.css global -->
    <div>
        <a href="#">Veja mais sobre o {{name}}</a>
    </div>
</div>

